/*
=============== 
Fonts
===============
*/

@font-face {
  font-family: founders;
  src: url(../assets/fonts/founders.otf);
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: antique;
  src: url(../assets/fonts/AntiqueLegacy-Regular.otf);
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: antique;
  src: url(../assets/fonts/AntiqueLegacy-Bold.otf);
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: antique;
  src: url(../assets/fonts/AntiqueLegacy-Light.otf);
  font-display: swap;
  font-weight: 200;
}

/*
=============== 
Global
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "antique", sans-serif;
}

button {
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
  font-family: "founders", sans-serif;
  transition: all 400ms;
}

a:hover {
  opacity: 0.65;
  transition: all 400ms;
}

ul {
  list-style: none;
}

figcaption {
  margin-top: 10px;
  margin-bottom: 2rem;
}

/*
=============== 
Header
===============
*/

.navbar {
  width: 100%;
  z-index: 100;
  height: 60px;
  padding: 9px;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 2px rgb(0 0 0 / 50%);
  transition: top 400ms;
}

.nav-show {
  top: 0;
}

.nav-hide {
  top: -60px;
}

.nav-logo {
  height: 30px;
}

#nav-icon {
  width: 40px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  top: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 9px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 20px;
}

#nav-icon span:nth-child(4) {
  top: 31px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar ul {
  display: none;
}

.mobile-page-links {
  background-color: #fff;
  z-index: 110;
  min-height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 700ms;
}

.hide {
  transform: translateY(-150%);
  transition: all 700ms;
}

.show {
  transform: translateY(0);
  transition: all 700ms;
}

.mobile-page-links li {
  font-size: 60px;
  padding: 20px;
}

.hover-underline-animation,
.hover-underline-animation-full {
  position: relative;
}

.hover-underline-animation:after,
.hover-underline-animation-full:after {
  content: "";
  position: absolute;
  width: 80%;
  text-align: center;
  transform: scaleX(0);
  height: 2px;
  bottom: 0px;
  left: 10%;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-full:after {
  width: 100%;
  left: 0;
  background-color: #fff;
}

.black:after {
  background-color: #000;
}

.hover-underline-animation:hover:after,
.hover-underline-animation-full:hover:after {
  cursor: pointer;
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (min-width: 769px) {
  .mobile-page-links,
  #nav-icon {
    display: none;
  }

  .navbar {
    padding: 9px 30px;
  }

  .navbar ul {
    display: flex;
    font-size: 30px;
  }

  .navbar ul li a {
    display: inline-block;
    margin-left: 50px;
    font-family: "antique", sans-serif;
  }
}

/*
=============== 
Footer
===============
*/

footer {
  background: #6c6c6c;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 80%;
  min-height: 100vh;
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5vh;
}

.footer-logo {
  width: 100%;
}

.footer-logos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-tagline {
  margin: 15px auto;
}

.footer-social-icons {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.footer-location {
  font-size: 20px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.mailing-form {
  width: 100%;
  font-size: 16px;
  border: 1px solid #fff;
  position: relative;
  height: 30px;
  color: #fff;
}

.mailing-form input {
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 1px 4px;
}

.mailing-form input::placeholder {
  color: #fff;
}

.mailing-form button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-60%);
  padding-right: 5px;
  color: #fff;
  font-size: 30px;
  width: 80px;
  text-align: right;
  z-index: 500;
}

@media screen and (min-width: 769px) {
  .footer-container {
    padding-top: 20vh;
  }

  .footer-tagline {
    font-size: 35px;
    margin: 25px auto;
  }

  .footer-social-icons img {
    width: 35px;
  }

  .footer-mailing-container {
    display: flex;
    width: 115%;
    margin-left: -7.5%;
    justify-content: space-between;
  }

  .mailing-form {
    width: 250px;
  }

  .footer-location {
    font-size: 24px;
    margin-bottom: 0;
  }
}

/*
=============== 
Splash
===============
*/

.splash-container {
  z-index: 550;
  background: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeAway 400ms 4500ms forwards;
}

.home-page,
.splash {
  background: #fff;
}

.splash-overlay {
  position: fixed;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  z-index: 600;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideDown 400ms forwards, fadeAway 3000ms 5000ms forwards;
}

.splash-content {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.splash-logo {
  opacity: 0;
  width: 180px;
  animation: banterAnimateMobile 4500ms ease-out 400ms forwards;
}

.splash-tagline {
  opacity: 0;
  position: absolute;
  animation: fadeInOut 2000ms ease-in-out 1500ms forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes banterAnimate {
  0% {
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-240px);
  }
  70% {
    transform: translateX(-240px);
  }

  80% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    display: none;
  }
}

@keyframes banterAnimateMobile {
  0% {
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(-110%);
  }
  70% {
    transform: translateY(-110%);
  }

  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    display: none;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeAway {
  99% {
    opacity: 0;
    z-index: inherit;
  }
  100% {
    z-index: -1000;
  }
}

@media screen and (min-width: 769px) {
  .splash-logo {
    opacity: 0;
    width: 180px;
    animation: banterAnimate 4500ms ease-in-out 400ms forwards;
  }
  .splash-tagline {
    transform: translate(150px, 10px);
    font-size: 32px;
  }
}

/*
=============== 
About
===============
*/

.about-intro {
  min-height: 100vh;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  transform: translateY(-100%);
  animation: slideDown 400ms forwards;
  color: #fff;
}

.about-intro p {
  text-align: center;
  padding: 5%;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 45px;
  font-family: "founders", sans-serif;
  opacity: 0;
  animation: fadeIn 700ms 400ms;
}

.about-image {
  height: 350px;
}

.about-carousel {
  position: relative;
  height: 350px;
  background: #000;
  overflow: hidden;
}

.about-carousel .slick-slider {
  height: 350px;
}

.image-prev,
.image-next {
  position: absolute;
  z-index: 100;
  width: 12px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
}

.image-prev {
  left: 10px;
}

.image-next {
  right: 10px;
}

.about-details {
  font-size: 24px;
  padding: 4rem 2rem;
}

.team {
  padding: 4rem 2rem;
}

.team h2 {
  font-weight: normal;
  margin-bottom: 2rem;
  font-size: 24px;
}

.team-members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  width: 100%;
  margin-bottom: 4rem;
  text-align: center;
}

.team-member h3 {
  font-weight: normal;
}

.team-member-heading {
  margin: 1rem auto;
}

.team-member p {
  font-family: "founders", sans-serif;
}

.word-marquee {
  background: #016f5f;
  color: #fff;
  font-size: 55px;
  text-transform: uppercase;
  gap: 30px;
}

.marquee-items {
  display: flex;
  gap: 30px;
}

.marquee-word::before {
  content: "•";
  margin-right: 30px;
}

.process {
  padding-top: 2rem;
}

.process-item {
  padding: 4rem 0;
  box-shadow: 0px 2px 0px rgb(0 0 0 / 10%);
}

.process h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 1rem;
}

.process-text {
  padding: 0 2rem;
}

.chat {
  text-align: center;
  background: #016f5f;
  display: block;
  font-family: "founders", sans-serif;
  font-size: 25px;
  padding: 25px;
  padding-top: 30px;
}

.chat a {
  color: #fff;
}

.chat span {
  font-size: 18px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 769px) {
  .about-intro p {
    font-size: 70px;
    padding: 10%;
  }

  .about-details {
    font-size: 36px;
  }

  .team h2 {
    font-size: 28px;
  }

  .team-members-container {
    justify-content: space-between;
  }

  .team-member {
    width: 48%;
  }

  .marquee {
    font-size: 70px;
  }

  .process {
    display: flex;
    padding-top: 0;
  }

  .process-item {
    box-shadow: 2px 0px 0px rgb(0 0 0 / 10%);
    width: 33.33%;
  }

  .chat {
    font-size: 45px;
    padding-top: 40px;
  }

  .chat span {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .team-member {
    width: 23%;
  }
}

/*
=============== 
Home
===============
*/

.hero-container {
  position: relative;
  overflow: hidden;
}

.hero-container iframe,
.fallback-img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  border: none;
}

.works-list {
  margin-top: 60px;
  padding: 4rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home {
  margin-top: 0;
  padding: 2rem 0;
}

.home-projects,
.press-container {
  padding: 4rem 2rem;
  box-shadow: 0 0 2px rgb(0 0 0 / 50%);
}

.home-projects h2,
.press-container h2 {
  font-weight: normal;
  font-family: "founders", sans-serif;
  font-size: 2.5rem;
}

.work-preview,
.featured-preview,
.home-preview {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 3rem;
}

.work-preview-media {
  position: relative;
}

.work-cover-img {
  width: 100%;
  z-index: 200;
  filter: blur(2px);
}

.work-video-info {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.work-preview-video {
  position: absolute;
  top: 0;
}

.work-cover-hide {
  animation: fadeAway 1.5s forwards;
}

.work-error-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 210;
  text-align: center;
  color: #fff;
}

.work-video-link {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 300;
}

.title-link {
  width: calc(100% - 145px);
  display: block;
  font-size: 18px;
}

.work-view-link {
  display: block;
  width: 125px;
  text-align: right;
}

.featured-view-link {
  font-size: 18px;
  width: 140px;
}

.featured-title-link {
  width: calc(100% - 160px);
  font-size: 24px;
}

.press-item {
  padding: 0 1rem;
  text-align: center;
  font-family: "founders", sans-serif;
}

.press-item h3 {
  font-weight: normal;
  font-size: 24px;
  padding: 0.5rem 0;
}

.press-slider-container {
  position: relative;
  width: 100%;
  padding-top: 2rem;
}

.press-arrow-left {
  left: -12px;
}

.press-arrow-right {
  right: -12px;
}

@media screen and (min-width: 769px) {
  .work-preview,
  .home-preview {
    width: 48%;
  }

  .home-preview {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .work-preview {
    width: 32%;
  }

  .featured-preview {
    width: 48%;
  }
}

.case-page {
  padding-top: 60px;
  font-family: "founders", sans-serif;
}

.case-heading {
  background: #c7c7c7;
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.case-heading h1 {
  text-transform: uppercase;
  font-weight: normal;
  display: block;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.case-heading h2 {
  font-weight: normal;
}

.case-study-body {
  margin: 4rem 2rem;
}

.case-header-video {
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 4rem;
}

.video-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.media-video-module {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  margin-bottom: 4rem;
  aspect-ratio: 16/9;
}

.vertical-video {
  aspect-ratio: 9/16;
  min-height: 300px;
  width: clamp(200px, 100%, 500px);
}

.cover-image-for-video {
  position: absolute;
}

.case-body-text {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.case-crew-cast {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.case-crew-cast h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.case-crew-cast p,
.case-crew-cast a {
  display: inline;
  margin-right: 5px;
}

.case-crew-cast :last-child {
  margin-right: 0;
}

.case-crew-cast p::after,
.case-crew-cast a::after {
  content: "/";
  margin-left: 5px;
}

.case-crew-cast :last-child::after {
  content: "";
}

.two-column-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.two-column-image,
.single-column-image {
  margin: 2rem 0;
}

.related {
  font-family: "founders", sans-serif;
  padding: 4rem 2rem 6rem 2rem;
}

.related h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.post {
  text-align: center;
  margin-bottom: 4rem;
}

.post h3 {
  margin: 2rem auto;
}

.post p {
  margin: 0 auto 2rem auto;
  width: 90%;
}

@media screen and (min-width: 769px) {
  .case-heading {
    flex-direction: row;
    justify-content: space-between;
  }

  .case-heading h1 {
    width: 30%;
    padding-bottom: 0;
  }

  .case-heading h2 {
    width: 50%;
  }

  .two-column-image,
  .post {
    width: 48%;
  }

  .case-study-body {
    width: 80%;
    margin: 4rem auto;
  }

  .case-crew-cast h3 {
    font-size: 1.75rem;
  }

  .case-crew-cast p,
  .case-crew-cast a {
    font-size: 1.25rem;
  }
}
